<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-sm-16 col-xl-12" >
                        <div class="bg-light rounded h-100 p-4" >
                            <h6 class="mb-4">Add Employee</h6>
                            <form method="post" action="{% url 'saveemployee' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  name="ename">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Age</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputPassword3" name="eage">
                                    </div>
                                </div>
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="egender" id="gridRadios1" value="male" checked="">
                                            <label class="form-check-label" for="gridRadios1" >
                                                Male
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="egender" id="gridRadios2" value="female">
                                            <label class="form-check-label" for="gridRadios2">
                                                Female
                                            </label>
                                        </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="egender" id="gridRadios2" value="other">
                                            <label class="form-check-label" for="gridRadios2">
                                                Other
                                            </label>
                                        </div>

                                    </div>
                                </fieldset>
                                <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >Department</label>
                                    <div class="col-sm-10">

                                        <select class="form-control" name="edepartment">
                                            <option>select department</option>
                                            {% for i in data %}
                                            <option>{{i.dname}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                 </div>
                                <div class="row mb-3">

                                </div>
                                 <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >Discription</label>
                                    <div class="col-sm-10">
<!--                                        <input type="email" class="form-control" id="inputEmail3">-->
                                        <textarea class="form-control" id="inputEmail3" name="ediscription"></textarea>
                                    </div>


                                </div>
                                 <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >Whatsapp Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputEmail3" name="whatsaap">
                                    </div>
                                 </div>
                                  <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" name="email">
                                    </div>
                                 </div>
                                  <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >Phone Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputEmail3" name="enumber">
                                    </div>
                                        <div class="row mb-3" style="margin-top:20px">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >Nationality</label>
                                    <div class="col-sm-10" >
                                        <input type="text" class="form-control" id="inputEmail3" name="nationality">
                                    </div>
                                 </div>
                                 </div>

                                  <div class="row mb-3">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label" >photo</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control"  name="image">
                                    </div>
                                 </div>

                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
</body>
</html>
{% endblock %}