<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






<div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Responsive Table</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                       <tr>
                                       <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Deaprtment</th>
                                        <th scope="col">Discription</th>
                                        <th scope="col">Whatsapp Number</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Nationality</th>
                                        <th scope="col">Image</th>
                                           <th></th>
                                           <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                 {% for i in data %}
                                    <tr>

                                        <td>{{i.ename}}</td>
                                        <td>{{i.eage}}</td>
                                        <td>{{i.egender}}</td>
                                        <td>{{i.edepartment}}</td>
                                        <td>{{i.ediscription}}</td>
                                        <td>{{i.whatsaap}}</td>
                                        <td>{{i.email}}</td>
                                        <td>{{i.enumber}}</td>
                                        <td>{{i.nationality}}</td>
                                        <td><img class="rounded-circle" src="{{i.image.url}}" style="width: 70px; height: 70px;"></td>
                                        <td> <form action="{% url 'editdemployee' dataid=i.id %}">
                                            <button  class="btn btn-outline-success " >Edit</button>
                                        </form>
                                        </td>

                                        <td>
                                            <form action="{% url 'deleteemployee' dataid=i.id %}">
                                                <button  class="btn btn-outline-danger " >Delete</button>
                                            </form>
                                        </td>

                                    </tr>
                                {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
</body>
</html>
{% endblock %}